.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(
    to top right,
    #ffcccc 0%,
    #ffe6cc 25%,
    #ffffcc 50%,
    #e6ffcc 75%,
    #ccffff 100%
  );
  box-shadow: -2px 0px 5px rgba(77, 7, 7, 0.8);
  padding: 1.2rem;
  z-index: 101;
  animation: slide-down 300ms ease-out forwards;
  border-radius: 15px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateX(20rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .offcanvas {
    width: 20rem;
    right: 0rem;
    height: 100vh;
  }
}

.cart-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}
.cart-head h2 {
  margin: 0;
}

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 0;
}

.actions button {
  background-color: #c5283d;
  color: #fff;
  border-radius: 20px;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  font-size: 18px;
  border: 5px outset rgb(218, 183, 183);
  margin-bottom: 10px;
}

.actions .cart-order {
  background-color: #5a9916d7;
}

.actions .cart-order:hover {
  color: rgb(255, 255, 255);
  background-color: #72be21;
}

.actions .cart-clear:hover {
  color: rgb(255, 255, 255);
  background-color: #fd0d2d;
}

.cart-close {
  color: #c5283d;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}
