.button {
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  color: #fff;
  padding: 0.1rem 2rem;
  margin: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
  color: #000000;
}

.badge {
  background-color: transparent;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
  color: #000000;
}

.badge {
  background-color: #000000d8;
  color: #fff;
}
.headerbutton-text {
  color: #000000;
}
.button:hover,
.button:active {
  box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.192);
  background-color: rgb(223, 241, 178);
}
